h1 { text-align: center; }
input { display: block; }
div { border: 1px solid black; padding: 5px; display: inline-table; width: 24%; background-color: lightpink }
div#aside { margin-top: 10px; width: 20%; border: 3px solid grey; background-color: antiquewhite}
div#books{ width:auto; }
button { display: inline-table; margin: 5% 0 5% 5%; width: 39%; }
button.add { width: 90%; background-color: green }
button.load { width: 90%; padding: 10px; background-color: aqua}
button.load { vertical-align: top; }
button.delete { width: 90%; background-color: red }
button.update { width: 90%; background-color: plum }
fieldset { display: inline-table; vertical-align: top; }
fieldset#main { width: 70%; }